body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* common */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.contacts-list {
    gap: 40px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* hero */

.hero {
    background-color: #2e2f42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-container {
    padding: 188px 0;
    margin-left: auto;
    margin-right: auto;

}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    background-color: #2e2f42;
    margin-bottom: 48px;
    /*padding-top: 188px;*/
    max-width: 496px;
}

.hero-btn {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/* description */

.description-main-title {
    display: none;
}

.description-list {
    display: flex;
    gap: 24px;
    margin-right: auto;
    margin-left: auto;
}

.description-item {
    max-width: 264px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    padding-top: 120px;
}

.description-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 120px;
}

/* team */
.team-container {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    gap: 72px;
}

.team {
    background-color: #f4f4fd;
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-item {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    max-width: 264px;
    max-height: 380px;
    background-color: #ffffff;
    margin-bottom: 120px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-top: 32px;
    padding-bottom: 8px;
}

.team-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    padding-bottom: 32px;
}

.page-footer {
    background-color: #2e2f42;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

/* portfolio */

.portfolio-container {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    gap: 72px;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}

.portfolio-item {
    border: 1px solid #e7e9fc;
    display: flex;
    flex-direction: column;
    max-width: 360px;
    max-height: 420px;
    align-items: flex-start;
}

.portfolio-name {
    padding-top: 32px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio {
    background: #fff;
}

.footer-logo {
    margin-bottom: 16px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 120px;
    padding-bottom: 120px;
}
